<h1>The following food were found: </h1>

<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Name</th>
            <th>Type</th>
            <th>Calories</th>
            <th>Add to Food List</th>
        
        </tr>
    </thead>
    <tbody>
        <% for (food of foods){ %>
            <tr>
                <td><%= foods['restaurant'] %> </td>
                <td><%= foods['foodItems'] %></td>
                <td> <div><a href="/addFood/<%= food['_id'] %>">add Food</a></div></td>
             
            </tr>
        <% } %>
        </tbody>
    


    
</table>