

    <div class="jumbotron">
        <h1>Find food </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The goal of this assignment is to write an app that will let
        people find the restaurants and food they like.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/food/byRest">
            Show Food by Restaurant names: 
              <input type="text" name="subject" 
                     placeholder="e.g. Chipotle">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byInst">
            Show Courses by Instructor Email: 
            <input type="text" name="email" 
                   placeholder="e.g. tjhickey">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byKey">
            Show Courses by Keyword in course name: 
            <input type="text" name="keyword" 
                   placeholder="e.g. Introduction">
            <input type="submit">
        </form>
        <br>
        <a href="/schedule/show">Show Schedule</a>
    <% } %>


