

    <div class="jumbotron">
        <h1 class="text-center alert alert-warning" role="alert"> Find the dressings you like! </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-info bg-light alert alert-primary">
        The goal of this app is to let
        people find the dressings and restaurants they like.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/dressings/byName">
            Show Dressings by Dressing names: 
              <input type="text" name="dressingName" 
                     placeholder="e.g. Ranch">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/dressings/byRest">
            Show Dressings by Restaurant names: 
            <input type="text" name="restaurantNames" 
                   placeholder="e.g. McDonalds">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/dressings/byCalories">
            Show Dressings by Calories: 
            <input type="text" name="calories" 
                   placeholder="e.g. 50">
            <input type="submit">
        </form>
        <br>
        <a href="/DressingItem/show">Show dressing lists</a>
    <% } %>



